.about-bg{
    background-color:#f1f1f1 ;
}
.about-icons{
    font-family: 'Courgette', cursive;
}

.middle-div{
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.about-token{
    transition: .4s;
    }
    .about-token:hover{
    background-color: #70706e6d;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.768);
    cursor: pointer;
    color:black
    }